[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
x509_extensions = v3_ca


[req_distinguished_name]

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment

[ v3_ca ]
subjectAltName = @alt_names

[alt_names]
{% for host in groups['masters'] | union(groups['workers']) %}
DNS.{{loop.index}} = {{hostvars[host]['ansible_nodename']}}
IP.{{loop.index}} = {{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}
{% endfor %}
