[Unit]
Description=Kubernetes Kubelet
After=docker.service
Requires=docker.service
 
[Service]
ExecStart={{K8S_DIR}}{{K8S_VERSION}}/kubernetes/server/bin/kubelet \
--hostname-override={{ ansible_eth0.ipv4.address }} \
--api-servers=http://{{K8S_MASTER_LB_IP}}:8080 \
--logtostderr=true \
--cluster-dns={{K8S_DNS_SERVER_IP}} \
--cluster-domain={{K8S_DOMAIN}}
Restart=on-failure
KillMode=process
  
[Install]
WantedBy=multi-user.target
