[Unit]
Description=Flanneld
Documentation=https://github.com/coreos/flannel
After=network.target
Before=docker.service
 
[Service]
User=root
ExecStart={{FLANNEL_DIR}}{{FLANNEL_VERSION}}/flanneld \
--etcd-endpoints="{% for host in groups['masters'] | union(groups['slaves']) %}https://{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}:2379{% if not loop.last %},{% endif %}{% endfor %}" \
--etcd-prefix={{FLANNEL_NET_PREFIX}}/network \
--iface={{ ansible_eth0.ipv4.address }} \
--ip-masq
Restart=on-failure
Type=notify
LimitNOFILE=65536
