[Unit]
Description=Flanneld
Documentation=https://github.com/coreos/flannel
After=network.target
Before=docker.service
 
[Service]
User=root
Environment=DAEMON_ARGS=
EnvironmentFile=-/etc/default/%p
ExecStart={{FLANNEL_DIR}}{{FLANNEL_VERSION}}/flanneld $DAEMON_ARGS
Restart=on-failure
Type=notify
LimitNOFILE=65536
