[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
User=root
ExecStart={{K8S_DIR}}{{K8S_VERSION}}/kubernetes/server/bin/kube-controller-manager \
--master={{ansible_eth0.ipv4.address}}:8080 \
--root-ca-file={{K8S_DIR}}{{K8S_VERSION}}/ssl/ca.crt \
--service-account-private-key-file={{K8S_DIR}}{{K8S_VERSION}}/ssl/server.key \
--logtostderr=true
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
