{
    "CN": "k8s service account",
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "TW",
            "L": "TPE",
            "ST": "Taipei"
        }
    ]
}

