{
    "CN": "k8s master",
    "hosts": [
{% for host in groups['masters'] %}
    "{{hostvars[host]['ansible_nodename']}}",
    "{{ hostvars[host]['ansible_eth0']['ipv4']['address'] }}"{%if not loop.last %},{% endif %}
{% endfor %}
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "TW",
            "L": "TPE",
            "ST": "Taipei"
        }
    ]
}

